/* Template component "Logo" (framer-Vysum). */
.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 10.63px;
  width: min-content;
  height: min-content;
  padding: 3px;
  text-decoration: none;
  position: relative;
  overflow: clip;
}

/* "Big logo white" variant */
.big {
  gap: 23.42px;
  padding: 4px;
}

.textBox {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-start;
  outline: none;
  flex-grow: 0;
  flex-basis: auto;
  white-space: pre;
  width: auto;
  height: auto;
  position: relative;
}

.text {
  margin: 0;
  padding: 0;
  font-family: var(--font-switzer), sans-serif;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: -0.06em;
  line-height: 1.2em;
  text-align: center;
}

.big .text {
  font-size: 84px;
}
